<div id="body" class="container-fluid">
    <div class="sect row">
        <div class="sectcol col-7">
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Dolorum corporis eius praesentium explicabo reprehenderit,
                ipsa quaerat? Eius laborum, ad, saepe eos, quia officiis
                odio in non aperiam commodi ipsa sed voluptatum. Enim per
                spiciatis vero aut ipsa quasi, temporibus ad nostrum totam
                suscipit eius eum quisquam dolore dolor impedit asperiores eos?
            </p>
        </div>
        <div class="sectcol col">
            <img src="../../assets/background.jpg" class="img-fluid" alt="may be a picture of a cow!">
        </div>
    </div>

    <div class="sect row">
        <div class="sectcol col">
            <img src="../../assets/background.jpg" class="img-fluid" alt="may be a picture of a cow!">
        </div>
        <div class="sectcol col-7">
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Dolorum corporis eius praesentium explicabo reprehenderit,
                ipsa quaerat? Eius laborum, ad, saepe eos, quia officiis
                odio in non aperiam commodi ipsa sed voluptatum. Enim per
                spiciatis vero aut ipsa quasi, temporibus ad nostrum totam
                suscipit eius eum quisquam dolore dolor impedit asperiores eos?
            </p>
        </div>
    </div>
    <div class="sect row">
        <div class="sectcol col-7">
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Dolorum corporis eius praesentium explicabo reprehenderit,
                ipsa quaerat? Eius laborum, ad, saepe eos, quia officiis
                odio in non aperiam commodi ipsa sed voluptatum. Enim per
                spiciatis vero aut ipsa quasi, temporibus ad nostrum totam
                suscipit eius eum quisquam dolore dolor impedit asperiores eos?
            </p>
        </div>
        <div class="sectcol col">
            <img src="../../assets/background.jpg" class="img-fluid" alt="may be a picture of a cow!">
        </div>
    </div>

    <div class="sect row">
        <div class="sectcol col">
            <img src="../../assets/background.jpg" class="img-fluid" alt="may be a picture of a cow!">
        </div>
        <div class="sectcol col-7">
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Dolorum corporis eius praesentium explicabo reprehenderit,
                ipsa quaerat? Eius laborum, ad, saepe eos, quia officiis
                odio in non aperiam commodi ipsa sed voluptatum. Enim per
                spiciatis vero aut ipsa quasi, temporibus ad nostrum totam
                suscipit eius eum quisquam dolore dolor impedit asperiores eos?
            </p>
        </div>
    </div>
</div>