<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/msdairybd" role="button"><i
          class="fab fa-facebook-f"></i></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1"
        href="https://business.google.com/dashboard/l/09847310091001341209?hl=en&gmbsrc=us-en-z-z-z-gmb-l-z-d~mhp-hom_sig-u"
        role="button"><i class="fab fa-google"></i></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/maraz-mia-522857160/"
        role="button"><i class="fab fa-linkedin-in"></i></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/MarazMia/WebTech/tree/master"
        role="button"><i class="fab fa-github"></i></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->
  <div class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam unde sit,
      beatae deleniti possimus illum ad expedita porro veritatis quam, iste numquam nostrum
      voluptates autem corrupti magnam illo tempore, quidem libero voluptatibus labore rerum.</p>
  </div>
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">DairyCommunity.com</a>
  </div>
  <!-- Copyright -->
</footer>